doctype html
html

  head
    title= title

  body
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="/js/contacts.js")

    h1= title
    table#contactsTable
      tr
        th Name
        th Email
